<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listar Estoque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="h-full  px ion-display-flex ion-justify-content-center ion-align-items-center">

      <ion-card class="pyd w-full">

        <div class="item p-item ion-display-flex ion-flex-column">
            <ion-title>
              Nome do produto!
            </ion-title>
            <div class=" p-itemion-display-flex">
              <ion-label>
                Não há produtos!
              </ion-label>
            </div>
        </div>
        

      </ion-card>

  </div>
</ion-content>