<ion-header [translucent]="true" class="header shadow-none">
  <div class="blur-header w-full h-full">
    <ion-title class="title-header">Listar Estoque</ion-title>
  </div>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary">
  <div class="px ion-display-flex ion-flex-column ion-justify-content-center ion-align-items-center">
    
      <ion-card *ngFor="let produto of produtos; let i = index" class="py w-full p-card"
      (click)="editarProduto(produto, i)">
        <div class="w-full div-list">
          <ion-icon name="layers" class="icon-list "></ion-icon>
        </div>
        <div class="p-item">
          <ion-label class="title-list font-black semibold">
            {{produto.nome}}
          </ion-label>
          <div class="div-label">
            <ion-label>Quantidade: </ion-label> 
            <ion-label  class="font-black semibold">
              {{produto.quantidade}}
            </ion-label>
          </div>

          <div class="div-label ">
            <ion-label>Valor: </ion-label> 
            <ion-label class="font-black semibold">
              {{produto.valor}}
            </ion-label>
          </div>
          <div class="div-label">
            <ion-label>Unitário: </ion-label> 
            <ion-label class="font-black semibold"> 
              {{produto.unitario}} 
            </ion-label>
          </div>
        </div>

      </ion-card>
  </div>
</ion-content>