.h-full{
    height: 100%;
}

.w-full{
    width: 100%;
}

.py{
    padding: 10px 0 10px 0;
}

.px{
    padding: 0px 20px 0px 20px;
}

.item{
    border-bottom: 1px solid #eee;
}

.p-item{
    padding: 8px 8px 8px 8px;
}

ion-title{
    padding-right: 0px;
}