<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listar Estoque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px ion-display-flex ion-flex-column ion-justify-content-center ion-align-items-center">

      <ion-card class="py w-full">
            <div class="p-item">
              <ion-label class="title-label">
                nome produto!
              </ion-label>
              <div class="ion-display-flex div-label">
                <ion-label>Quantidade: </ion-label> <ion-label>12</ion-label>
              </div>

              <div class="ion-display-flex div-label">
                <ion-label>Valor: </ion-label> 
                <ion-label>12</ion-label>
              </div>
              <div class="ion-display-flex div-label">
                <ion-label>Unitário: </ion-label> 
                <ion-label>12</ion-label>
              </div>
            </div>
      </ion-card>

  </div>
</ion-content>