.h-full{
    height: 100%;
}

.w-full{
    width: 100%;
}

.pt{
    padding-top: 40px
}
.py{
    padding: 10px 0 10px 0;
}

.px{
    padding: 0px 20px 0px 20px;
}

.item{
    border-bottom: 1px solid #eee;
}

.p-item{
    padding: 8px 8px 8px 8px;
}

ion-title{
    padding-right: 0px;
}

.title-label{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 10px;
}

.div-label{
    margin-top: 10px;
}